# Maven
target/
.mvn/wrapper/maven-wrapper.jar

# IDEs
.idea/
*.iml
.project
.classpath
.settings/
.vscode/

# OS files
.DS_Store
Thumbs.db

# Logs
*.log

# Spring Boot
spring.log

# Env files
.env
.env.*
